.form-container {
  flex-direction: column;
}
.my-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 20%;
  padding: 100px;
  width: 50%;
  margin-left: 25%;
}
.form-field {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  margin: 20px;
  height: 50px;
  font-size: 16px;
  width: 100%;
  border-bottom: 1px #6a12b8;
}
.my-form button {
  background: #0cf;
}

.formfield {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  height: 150px;
  width: 100%;
  resize: none;
  font-size: 16px;
  margin: 20px;
}
.my-form h2 {
  text-align: center;
  margin: 0;
  color: #6a12b8;
  font-family: Arial;
  font-size: 70px;
}
.my-form p {
  text-align: center;
  margin-bottom: 70px;
  font-size: 25px;
  font-family: Arial;
}
label {
  font-size: 16px;
  margin-left: 20px;
  font-family: Arial;
}
textarea {
  font-family: Arial;
  color: #aaa;
}
.my-form button {
  width: 40%;
  background-color: #6a12b8;
  height: 50px;
  margin-left: 35%;
  border-radius: 50%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
}
