footer {
  text-align: center;
  padding: 3px;
  background-color:rgb(18, 18, 18);
  color: #aaa;
  height: 400px;
  margin-top: 50%;
}
.footer-column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  font-family: arial;
}
.fa {
  padding-right: 10px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer-column li {
  margin-top: 25px;
  list-style-type: none;
  text-align: left;
  margin-left: 50px;
}
.footer-column h2 {
  text-align: left;
  margin-left: 50px;
}
@media only screen and (max-width: 600px) {
  footer {
    text-align: center;

    background-color: black;
    color: #aaa;
 

  }
  .footer-column {
    float: left;
    width: 100%;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */
    font-family: arial;
  }
}