.gallery1 {
  margin-left:  2%;
}

.gallery1 img {
  width: 24%;
  border-radius: 15px;
  float: center;
  filter: grayscale(0);
  border: 1px solid #bbb;
  opacity:80%;
  
}
.gallery h1{
  text-align:center ;
   color:#ddd ;
    font-size:100px; 
    font-family: Arial;
    margin-top:60%;
}
.gallery p{
 text-align:center ;
 color:#ddd;
  font-size:25px;
   font-family: Arial;
}
.gallery1 img:hover {
  filter: grayscale(0);
  border-radius: 30px;
    border: 10px solid #05faa8;
  

}
@media only screen and (max-width: 600px) {
.gallery h1 {
  text-align: center;
  color: #ddd;
  font-size: 50px;
  font-family: Arial;
 
}
.gallery p {
  text-align: center;
  color: #ddd;
  font-size: 17px;
  font-family: Arial;
}
}