.gallery1 {
  margin: 12px 12px;
}

.gallery1 img {
  width: 358px;
  border-radius: 15px;
  float: center;
  filter: grayscale(0);
  border: 1px solid #bbb;
  opacity:80%;
  
}

.gallery1 img:hover {
  filter: grayscale(0);
  border-radius: 30px;
    border: 10px solid #aaa;
  

}