.gallery1 {
  margin-left:  2%;
}

.gallery1 img {
  width: 24%;
  border-radius: 15px;
  float: center;
  filter: grayscale(0);
  border: 1px solid #bbb;
  opacity:80%;
  
}

.gallery1 img:hover {
  filter: grayscale(0);
  border-radius: 30px;
    border: 10px solid #05faa8;
  

}