* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin-left: 15%;
  margin-right: 15%;
  background-color: rgb(255, 255, 255);

  box-shadow: 0px 0px 700px 10px #aaa;
}
.column {
  float: left;
  display: block;
  height: 750px;
}

.left {
  width: 70%;
  border-top-left-radius: 600px;
  opacity: 0.8;
}

.right {
  width: 30%;
}

.left button {
  width: 150px;
  height: 30px;
  margin-left: 5%;
  border-radius: 10px;
  margin-top: 10px;
}
.profile:after {
  content: "";
  display: table;
  clear: both;
}
.column h1 {
  margin-top: 8%;
  margin-left: 5%;
  color: #05faa8;
  font-size: 100px;
  font-family: Arial;
  opacity: 1;
}
.column h2 {
  margin-left: 12%;
  color: #05faa8;
  font-size: 90px;
  font-family: Arial;
  opacity: 1;
}
.column h3 {
  background-color: #05faa8;
  margin-top: 2%;
  margin-left: 5%;
  color: #6a12b8;
  font-size: 35px;
  font-family: Arial;
  border-bottom: 2px solid #05faa8;
  border-bottom-style: double;
  width: 650px;
  opacity: 1;

  opacity: 0.8;
  border-radius: 10px;
}
.column p {
  margin-left: 5%;
  font-family: Arial;
  color: white;
  font-size: 17px;
  margin-right: 30%;
  box-shadow: inset 2px 2px 2px #05faa8(0, 0, 0, 0.6),
    0 0 0 1px #05faa8(0, 0, 0, 0);
  margin-top: 10px;
}

.column img {
  display: block;
  margin-top: 100px;
  width: 400px;
  height: auto;
  margin-left: -20%;
  background-color: #008cba;
  opacity: 0.98;
  border-radius: 2%;
  border: 3px solid #05faa8;
}

.skill-column {
  margin-left: 5%;
  width: 300px;
  float: left;
  margin-top: 65px;
  height: 90px;
  font-size: 10px;
  color: white;
  box-shadow: 0.5px 0.5px 0px 0.5px #05faa8;
}
.skill-column p {
  font-size: 15px;
  color: white;
  margin: 5%;
  text-align: left;
}

.column p {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);

  -webkit-transition-duration: 0.2s;
  transition-duration: 0.5s;
}

.addressbar {
  text-align: center;
  padding: 3px;
  color: white;
}
.addressbar li {
  list-style-type: none;
  text-align: left;
  margin-top: 25px;
  margin-left: 20px;
  font-family: Arial;
}

.column h3:hover,
.column h3:focus,
.column h3:active {
  -webkit-transform: scale(1.3);
  transform: scale(1.1);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.column img:hover,
.column img:focus,
.column img:active {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.contact-icons button {
  width: 120px;
  height: 50px;
  margin-left: 20px;
  margin-top: 120px;
}
.contact-icons button:hover {
  background-color: #05faa8;
  color: black;
  border-color: #6a12b8;
}
.left button:hover {
  background-color: #05faa8;
  color: black;
  border-color: #6a12b8;
}
